**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv",low_memory=False )

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

** Convert data type of "BasePay", "OvertimePay", "OtherPay", "Benefits" to numeric data.**

In [5]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'],errors='coerce')
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'],errors='coerce')
sal['OtherPay'] = pd.to_numeric(sal['OtherPay'],errors='coerce')
sal['Benefits'] = pd.to_numeric(sal['Benefits'],errors='coerce')

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [7]:
sal['OvertimePay'].max()

245131.88

In [8]:
# Double check with describe()

sal['OvertimePay'].describe()

count    148650.000000
mean       5066.059886
std       11454.380559
min          -0.010000
25%           0.000000
50%           0.000000
75%        4658.175000
max      245131.880000
Name: OvertimePay, dtype: float64

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [9]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [10]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)?**

In [12]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014)?**

In [13]:
sal['Year'].describe() # all years in the dataset

count    148654.000000
mean       2012.522643
std           1.117538
min        2011.000000
25%        2012.000000
50%        2013.000000
75%        2014.000000
max        2014.000000
Name: Year, dtype: float64

In [14]:
sal.groupby('Year')['BasePay'].mean() # Mean() is used to calculate average

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [15]:
sal['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [16]:
sal['JobTitle'].value_counts().head(5)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [17]:
data_2013 = sal[sal['Year'] == 2013]['JobTitle'].value_counts()

# Job Titles were represented by only one person in 2013

len(data_2013[data_2013 ==1])

202

**Is there a correlation between length of the Job Title string and Salary?**

In [18]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)

length_salary_cor = sal['JobTitleLength'].corr(sal['TotalPayBenefits'])

length_salary_cor

-0.036878445932606675

In [19]:
# Since the correlation between length of the Job Title string and Salary is -0.068, there is not a strong linear correlation between the length of job titles and total pay benefits in the dataset.